    <style>
        .blue{ background: #5abae6;}

        span{
            font-size:20px;
            line-height:1.8em;
            color: #fff;
            text-align: center;
            border-radius: 15px;

            position:absolute;
            display: inline-block;
            width:60px;
            bottom: 0;
        }

        div{
            position: relative;
            width: 300px;
            height: 400px;
            border:1px solid #000;
        }

        span:nth-of-type(1){height:100%; left:0px;}
        span:nth-of-type(2){height:80%; left:70px;}
        span:nth-of-type(3){height:60%; left:140px;}
        span:nth-of-type(4){height:20%; left:210px;}

    </style>

    <div>
   <span class="blue" data-val="20%">A</span>
   <span class="blue" data-val="80%">A</span>
   <span class="blue" data-val="60%">A</span>
   <span class="blue" data-val="100%">A</span>
</div>

    <script>
    const canvas = document.getElementById('canvas'); /**/
    const ctx = canvas.getContext('2d');
    ctx.lineWidth = 10;

    ctx.beginPath();
    ctx.moveTo(30,10);
    ctx.lineTo(30,60);
    ctx.lineCap = 'butt';
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(60,10);
    ctx.lineTo(60,60);
    ctx.lineCap = 'round';
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(90,10);
    ctx.lineTo(90,60);
    ctx.lineCap = 'square';
    ctx.stroke();


    const colors = ['red', '#fff179', 'rgb(62,185,116)', 'rgba(78,62,185,0.4)' ];

    ctx.fillStyle = colors[0];
    ctx.fillRect(10, 10, 20, 20);

    ctx.fillStyle = colors[1];
    ctx.fillRect(50, 10, 20, 20);

    ctx.fillStyle = colors[2];
    ctx.fillRect(90, 10, 20, 20);

    ctx.fillStyle = colors[3];
    ctx.fillRect(130, 10, 20, 20);
</script>

    <canvas width='450px' height='500px' id='canvas' >
</canvas>

        <style>
        body{padding: 5%;text-align: center;}
        canvas{border: 1px solid gray;border-radius: 3px;}
    </style>