{% extends "base.html" %}
{% load static %}
{% block explain_contents %}

<section class="idx-Pv">
    <div class="st-Inner"><br><br><br><br><br><br>
        <h2 class="sw-Ttl"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F7lA3S%2Fbtq10Kpitz0%2FKkeTQCEP8PwB5pZz9KOV2k%2Fimg.png" height="150" alt="분석로고"><span>빅데이터 및 활용사례 영상</span></h2>
        <div class="body">
            <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GMyPeKmhFro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KlFLbyLDnkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="sw-Btn"><a href="https://www.youtube.com/results?search_query=빅데이터+활용+사례" target="_blank">빅데이터 활용사례</a></div>
        </div>
    </div>
</section>

{% endblock explain_contents %}