{% extends "base.html" %}
{% load static %}
{% block explain_contents %}
<section class="sub-Character">
<div class="body">
<div class="content" id="design">
    <div class="logo"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbw8q28%2Fbtq11z8DD4u%2FFx1ZaZLWY9pXlQQBPg9Mk1%2Fimg.png" width="281" alt="천지창조">
    <p class="cv" style="font-size:30px; color:gray; font-weight:bold">-웹 페이지 구축-</p></div>
    <ul class="character-list">
        <li class=""></li>
        <li class="gon">
            <div class="image"></div>
            <p class="cv" style="font-size:30px">유태곤</p>
        </li>
        <li class=""></li>
    </ul>
</div>
<div class="content" id="anal">
    <div class="logo"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FIcqS1%2Fbtq127qiKlz%2FDm0LzQPcOdYqH1IpXSkmkK%2Fimg.png" width="281" alt="천지창조">
    <p align="center" style="font-size:30px; color:red; font-weight:bold">-데이터 분석 알고리즘 구축-</p></div>
    <ul class="character-list">
        <li class=""></li>
        <li class="jin">
            <div class="image"></div>
            <p class="cv" style="font-size:30px; color:red">김진영</p>
        </li>
        <li class=""></li>
        <li class="">
            <div class="name"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb4CgKt%2Fbtq1JVC2xSF%2F55a9Ej4tCSXYbXqP7f8tpk%2Fimg.png" height="280" alt="오류"></div>
            <p class="cv" style="font-size:30px">노희동</p>
        </li>
        <li class=""></li>
    </ul>
</div>
<div class="content" id="site">
    <div class="logo"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb1KJnR%2Fbtq10K3TAMz%2FxqnEOpGVjGckdNkkq5Tl30%2Fimg.png" width="281" alt="천지창조">
        <p align="center" style="font-size:30px; color:blue; font-weight:bold">-데이터 시각화-</p></div>
    <p align="center" style="font-size:30px; color:blue; font-weight:bold"></p>
    <ul class="character-list">
        <li class=""></li>
        <li class="sin">
            <div class="image"></div>
            <p class="cv" style="font-size:30px; color:blue">신영준</p>
        </li>
        <li class=""></li>
        <li class="">
            <div class="name"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fcbz9mA%2Fbtq1IqK44jq%2Fk1UaGNNdIocPZpXCjR9401%2Fimg.png" height="280" alt="오류"></div>
            <p class="cv" style="font-size:30px">한수빈</p>
        </li>
        <li class=""></li>
    </ul>
</div>
</div>
</section>


{% endblock explain_contents %}

